<?xml version="1.0"?>
<config>
	<modules>
        <AI_Sales>
            <version>0.0.0.2</version>
        </AI_Sales>
    </modules>
	<global>
		<models>
			<aisales>
                <class>AI_Sales_Model</class>
                <resourceModel>aisales_resource</resourceModel>
            </aisales>
		</models>
		<aisales_resource>
                <class>AI_Sales_Model_Resource</class>
                <deprecatedNode>aisales_mysql4</deprecatedNode>
		</aisales_resource>
		<resources>
			<aisales_setup>
                <setup>
                    <module>AI_Sales</module>
                    <class>AI_Sales_Model_Resource_Setup</class>
                </setup>
            </aisales_setup>
        </resources>
		<blocks>
			<aisales>
                <class>AI_Sales_Block</class>
            </aisales>
			<adminhtml>	
				<rewrite>
					<sales_order_grid>AI_Sales_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
				</rewrite>
			</adminhtml>
            
        </blocks>
	</global>
	<frontend>
		<events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <update_placed_from>
                        <class>aisales/observer</class>
                        <method>updateOrder</method>
                    </update_placed_from>
                </observers>
            </checkout_onepage_controller_success_action>
		</events>
	</frontend>
</config>